html
    head
        script(src='http://code.jquery.com/jquery-latest.js')
        script(src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.0.0/lodash.min.js")
        script(src='/javascripts/bootstrap.min.js')
        script(src='/javascripts/graph.js')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/cust.css')
        link(href="/vendor/nvd3/src/nv.d3.css", rel="stylesheet", type="text/css")
        script(src='/socket.io/socket.io.js')
        //- script(src="http://threejs.org/build/three.min.js")

        link(rel='stylesheet', href='/css/nvd3.css')
    body
        