html
    head
        script(src='http://code.jquery.com/jquery-latest.js')
        script(src='/javascripts/bootstrap.min.js')
        script(src='/javascripts/gen.js')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/cust.css')
        script(src='/socket.io/socket.io.js')
        script(src="http://threejs.org/build/three.min.js")

    body
        .container
            