html
    head
        script(src='http://code.jquery.com/jquery-latest.js')
        script(src='/javascripts/bootstrap.min.js')
        script(src='/javascripts/gen.js')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/cust.css')
        script(src='/socket.io/socket.io.js')
        script(src="http://threejs.org/build/three.min.js")

    body
        .container.well-large
            .btn.btn-large.start.btn-success start
            .btn.btn-large.stop.btn-info stop
            .row
                .span12.data Data
            .row
                .div.border.copter(style="position:absolute; left:200px; top:200px; width:50px; height:150px; background:black") 
                .div.border.me(style="position:absolute; left:200px; top:200px; width:50px; height:150px; background:blue")
                .div.border.me_old(style="position:absolute; left:200px; top:200px; width:50px; height:150px; background:pink").border
                .div.border.thrust_target(style="position:absolute; left:1px; bottom:0px; width:20px; height:350px; background:purple")
                .div.border.quad_thrust(style="position:absolute; left:21px; bottom:0px; width:20px; height:350px; background:red")